body {
background:black;
color:white

}
button {
  padding:10px;
  font-size:20px;
  background:purple;
  color:white;
  transition:1s;
}
button:hover {
  transition:1s;
  background:pink;
}
#buttons {
  display:block;
  margin:auto;
  text-align:center;
}
h1 {
  background:violet;
  color:white;
  text-align:center;
}
h2 {
  text-align:center;
  background-color:blue;
}
p {
  background:blue;
  color:white;
  text-align:center;
}
#name {
  text-align:center;
}
h1:hover {
  background-color:purple;
}
p:hover {
 background-color:lightblue; 
}
body {
  background:black;
}
img {
  display:block;
  margin:auto;
  width:100%;
}
#american {
  background:blue;
}
